html {
  background-color: white;
  font-size: 16px;
  color: black;
  font-family: "Helvetica", sans-serif;
}

/*header style */
header {
  height: 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*header logo and nav styling */

.desktop-logo {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.upper {
  text-transform: uppercase;
}

.colmar {
  font-weight: bold;
}

header nav ul {
  display: flex;
  margin-right: 3rem;
}

nav li {
  padding-left: 1rem;
  color: maroon;
}

/* main page content*/

.main-content {
  position: relative;
  top: 4rem;
}

/* Start Here Section */

.intro-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}

/* left side image */
.intro-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.intro-image img {
  width: 100%;
}

/* right side text */

.intro-greeting {
  width: 40%;
}

.intro-greeting h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  width: 90%;
  color: maroon;
}

.intro-greeting h2 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.button {
  display: flex;
  background-color: maroon;
  width: 75%;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*orientation left image section*/

.orientation-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.orientation-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.orientation-image img {
  width: 100%;
  padding-bottom: 2rem;
}

/*orientation left text section */

.orientation-text {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.orientation-text h2 {
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  color: maroon;
}

.quote {
  font-size: 1rem;
  color: #ff6666;
}

.origin {
  font-size: .75rem;
  padding: 2rem 0;
  color:#ff1919;
}


/*orientation right section */

.orientation-breakdown {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.orientation-info {
  display: flex;
  padding: 1rem 1rem;
}

.info-image {
  width: 46%;
}

.info-image img {
  width: 100%;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.info-text h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.info-text p {
  margin-top: .5rem;
}
