html, body{
  background-color: white;
  font-size: 16px;
  color: black;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  overflow-x:hidden;
}

/*header style */
header {
  height: 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #30C2B3;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*header logo and nav styling */

.desktop-logo {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.upper {
  text-transform: uppercase;
}

.colmar {
  font-weight: bolder;
}

header nav ul {
  display: flex;
  margin-right: 3rem;
}

nav a {
  padding-left: 1rem;
  color: maroon;
  list-style: none;
}

/*header media query*/

@media only screen and (max-width: 480px){

  .desktop-nav,
  .desktop-logo {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
  }

 .mobile nav {
   display: flex;
 }

  .mobile-nav li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .mobile-nav li:hover {
    height: 101%;
  }

  .header nav ul {
    display: none;
  }

}

.desktop-nav a:hover {
  text-decoration: underline;
}

/* main page content*/

.main-content {
  position: relative;
  top: 4rem;
}

/* Start Here Section */

.intro-container {
  display: flex;
  align-items: center;
  background-color: #8C031C;
}

/* left side image */
.intro-image {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.intro-image img {
  width: 100%;
}

/* right side text */

.intro-greeting {
  width: 40%;
  padding-left: 1.5rem;
}

.intro-greeting h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  width: 90%;
  color: #30C2B3;
}

.intro-greeting h2 {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
  color: white;
}

.button {
  display: flex;
  background-color: #A88D8B;
  width: 75%;
  align-items: center;
  color: white;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 25px;
  box-shadow: 3px 3px black;

}

.button a {
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
  padding-right: 1.5rem;
}

.button:hover {
 background-color: #30C2B3;
 color: white;
 box-shadow: 2px 2px white;
 border-radius: 30px;
}

/*intro media query*/

@media only screen and (max-width: 480px) {

.intro-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.intro-greeting {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.intro-image {
  width: 100%;
  padding: 0;
}

.button {
  width: 90%;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

}

/*orientation left image section*/

.orientation-container {
  display: flex;
  background-color: #A88D8B;
}

.orientation-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.orientation-image img {
  width: 100%;
  padding-bottom: 2rem;
}

.mobile-image {
  display: none;
}

/*orientation left text section */

.orientation-text {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.orientation-text h2 {
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  color: maroon;
}

.orientation-text p:hover {
  font-size: 1.3rem;
}

.quote {
  font-size: 1rem;
  font-weight: normal;
}

.origin {
  font-size: .75rem;
  padding: 2rem 0;
}


/*orientation right section */

.orientation-breakdown {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}

.orientation-info {
  display: flex;
  padding: 1rem 1rem;
}

.orientation-info:hover {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #30C2B3;
}


.info-image {
  width: 40%;
}

.info-image .desktop-image {
  width: 100%;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.info-text h3 {
  font-size: 1.5rem;
  margin-top: 0;
  padding-bottom: .25rem;
  color: #8C031C;
}

.info-text p {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.info-text a {
  font-style: oblique;
  color: white;
}

.info-text a:hover {
  color: #26221F;
}


/*orientation media query*/


@media only screen and (max-width: 480px) {

  .orientation-text, .orientation-image {
    display: none;
  }

  .orientation-breakdown {
    width: 100%;
  }

  .orientation-info {
    flex-wrap: wrap;
    width: 100%;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: inline;
    height: auto;
    width: 218%;
    padding-left: 1rem;
  }

  .info-text {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }

  .info-text a {
    padding-top: .5rem;
  }

  .info-text h3 {
    font-size: 1.5rem;
  }

 #lecture a {
    padding-bottom: 1.3rem;
  }

#infohover:hover {
    background-color: #8C031C;
  }
  }

}

/*courses section */

.courses {
  text-align: center;
  padding: 2rem 4.5rem;
}

.courses h2 {
  padding: 2rem 0;
  color: #30C2B3;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #8C031C;
}

.course-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #8C031C;
  padding-bottom: 2rem;
}

.course {
  width: 33.33%;
  margin:1rem 1rem;
  background-color: #30C2B3;
  border-radius: 20px;
}

.course-image:hover {
  background-color: #3EFAE6;
  border-radius: 30px;
}



.course-section {
  display: flex;
}

.course img {
  width: 100%;
  height: auto;
}

.course-info {
  height: 8rem;
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.course-info h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.capital {
  text-transform: uppercase;
  font-style: oblique;
}

.course-info p {
  margin-top: 1rem;
}

.courses-mobile {
  display: none;
}

/* courses media query*/

@media only screen and (max-width: 480px) {
  .courses{
    display: none;
  }

  .courses-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color: #8C031C;
  }

  .courses-mobile h2 {
    color: #30C2B3;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-weight: bolder;
  }

  .mobile-course {
    padding-bottom: 2rem;
  }

  .mobile-course h4 {
    background-color: #A88D8B;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    width: 400px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 20px;
  }

  .mobile-course h4:hover {
    box-shadow: 3px 3px white;
    width: 101%;
    text-decoration: underline;
    font-style: italic;
  }
}

/* thesis section */


.thesis-section h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
  color: #30C2B3;
  background-color: #400106;
}


.thesis-layout {
  display: flex;
  background-color: #400106;
}

.thesis-left {
  width: 60%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: #30C2B3;
}

.thesis-videotext h3 {
  padding-top: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.thesis-videotext p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.thesis-videofile video {
  width: 100%;
}

.thesis-right {
  width: 40%;
  color: #30C2B3;
}

.thesis-info {
  display: flex;
  padding-top: 1rem;
}

.thesis-info:hover {
  color: white;
}

.thesis-info h3 {
  font-size: 1.20rem;
  font-weight: 600;
  color: #30C2B3;
}

.thesis-info p {
  font-size: 1rem;
  margin-top: .5rem;
}

.thesis-info-image {
  width: 35%;
  padding: 1rem 1rem;
}

.thesis-info-image .desktop-image {
  width: 100%;
}

.thesis-info-image img {
  width: 100%;
}

.thesis-info-text {
  text-align: left;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thesis-background {
  background-color: #A88D8B;

}

/*thesis media query */

@media only screen and (max-width: 480px){


  .thesis-videotext, .thesis-right {
    display: none;
  }

  .thesis-left {
    width: 100%;
    padding: 0;
  }


}

/*footer*/

footer {
  position: relative;
  display: flex;
  top: 4rem;
  padding-top: 1rem;
  justify-content: space-between;
  width: 100%;
  background-color: #8C031C;
  color: #30C2B3;
}

.terms-and-privacy {
  padding-right: 2rem;
}

.copyright {
  padding-left: 1.5rem;
}

.terms-and-privacy a {
  display: inline-block;
  margin-right: 1.5rem;
  height: 4rem;
  color: #30C2B3;
}

.terms-and-privacy a:hover {
  color: white;
  font-weight: bold;
}

/* footer media query */

@media only screen and (max-width: 480px) {

  footer {
    padding-bottom: 2rem;
  }
  .terms-and-privacy {
    display: none;
  }

  .copyright {
    width: 100%;
    padding-top: 1rem;
  }

  .copyright span {
  padding-bottom: 1rem;
  width: 100%;

  }
}
