html, body{
  background-color: white;
  font-size: 16px;
  color: black;
  font-family: "Helvetica", sans-serif;
  max-width: 100%;
  overflow-x:hidden;
}




/*header style */
header {
  height: 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*header logo and nav styling */

.desktop-logo {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.desktop-nav {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

.upper {
  text-transform: uppercase;
}

.colmar {
  font-weight: bold;
}

header nav ul {
  display: flex;
  margin-right: 3rem;
}

nav a {
  padding-left: 1rem;
  color: maroon;
  list-style: none;
}

/* main page content*/

.main-content {
  position: relative;
  top: 4rem;
}

/* Start Here Section */

.intro-container {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

/* left side image */
.intro-image {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.intro-image img {
  width: 100%;
}

/* right side text */

.intro-greeting {
  width: 40%;
  padding-left: 1.5rem;
}

.intro-greeting h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  width: 90%;
  color: maroon;
}

.intro-greeting h2 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.button {
  display: flex;
  background-color: maroon;
  width: 75%;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button a {
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

/*orientation left image section*/

.orientation-container {
  display: flex;
}

.orientation-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.orientation-image img {
  width: 100%;
  padding-bottom: 2rem;
}

/*orientation left text section */

.orientation-text {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.orientation-text h2 {
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  color: maroon;
}

.quote {
  font-size: 1rem;
  color: #ff6666;
}

.origin {
  font-size: .75rem;
  padding: 2rem 0;
  color:#ff1919;
}


/*orientation right section */

.orientation-breakdown {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}

.orientation-info {
  display: flex;
  padding: 1rem 1rem;
}

.info-image {
  width: 40%;
}

.info-image img {
  width: 100%;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.info-text h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.info-text p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#lecture {
  background-color: Gainsboro;
}

/*courses section */

.courses {
  text-align: center;
  padding: 2rem 4.5rem;
  background-color: seashell;
}

.courses h2 {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}


.course-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.course {
  width: 33.33%;
  background-color: white;
  margin:1rem 1rem;

}

.course-section {
  display: flex;
}

.course img {
  width: 100%;
  height: auto;
}

.course-info {
  height: 8rem;
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.course-info h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.capital {
  text-transform: uppercase;
}

.course-info p {
  margin-top: 1rem;
}

/* thesis section */

.thesis-section {
}

.thesis-section h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
}


.thesis-layout {
  display: flex;
}

.thesis-left {
  width: 60%;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.thesis-videotext h3 {
  padding-top: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.thesis-videotext p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.thesis-videofile video {
  width: 100%;
}

.thesis-right {
  width: 40%;
}

.thesis-info {
  display: flex;
  padding-top: 1rem;
}

.thesis-info h3 {
  font-size: 1.20rem;
  font-weight: 600;
}

.thesis-info p {
  font-size: 1rem;
  margin-top: .5rem;
}

.thesis-info-image {
  width: 35%;
  padding: 1rem 1rem;
}

.thesis-info-image img {
  width: 100%;
}

.thesis-info-text {
  text-align: left;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thesis-background {
  background-color: lightgrey;
}

/*footer*/

footer {
  position: relative;
  display: flex;
  top: 4rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

.terms-and-privacy {
  padding-right: 2rem;
}

.terms-and-privacy a {
  display: inline-block;
  margin-right: 1.5rem;
  height: 4rem;
}
